<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Tarefa</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <form th:action="@{'/item/store/'+ ${task.idTask}}" th:object="${item}" method="post">
        <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" th:field="*{description}" id="description" rows="3"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Erro Descrição</span>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#" th:href="@{'/item/' + ${task.idTask}}" class="btn btn-primary">Cancelar</a>
    </form>


</div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>