<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Itens Tarefa</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:if="${message}" th:text="${message}" class="alert alert-success"/>

<div class="container" style="margin-bottom:20px;" >
    <div class="row">
        <h3 th:text="${task.name}" class="col-sm-6"></h3>
        <a href="#" th:href="@{'/item/create/' + ${task.idTask}}" class="btn btn-small btn-success col-sm-2">Novo Item</a>
        <div class="col-sm-2"></div>
        <a href="#" th:href="@{'/task/'}" class="btn btn-small btn-primary col-sm-2">Lista Tarefas</a>
    </div>
</div>
<div class="container">
    <ul class="list-group">

        <li class="list-group-item" th:each="item : ${allItems}" >
            <div class="form-check">
                <input type="checkbox" th:checked="${item.done}" class="form-check-input" th:onclick="@{'javascript:check(' + ${item.idItem} + ', this)'}" id="done">
                <label class="form-check-label" for="done">
                    <div th:text="${item.description}"></div>
                    <a href="#" th:href="@{'/item/alter/' + ${item.idItem}}" class="col-sm-2">Alterar</a>
                    <a href="#" th:onclick="@{'javascript:destroy(' + ${item.idItem} + ')'}" class="col-sm-2">Deletar</a>
                </label>
            </div>

        </li>
    </ul>
</div>




</div>

<script th:src="@{/bootstrap/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/app.js}"></script>
</body>
</html>