<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista Usuarios</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:if="${message}" th:text="${message}" class="alert alert-success"/>

<div class="container" >

    <div class="row">
        <a href="#" th:href="@{/task/create}" class="btn btn-large btn-success mb-5">Nova Tarefa</a>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-6" th:each="task : ${allTasks}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${task.name}"></h5>
                    <p class="card-text" th:text="${task.description}" ></p>
                    <a href="#" th:href="@{'/item/' + ${task.idTask}}" class="btn btn-primary">Visualizar</a>
                    <a href="#" th:onclick="@{'javascript:destroyTask(' + ${task.idTask} + ')'}"  class="btn btn-warning">Apagar</a>
                </div>
            </div>
        </div>

    </div>

</div>

<script th:src="@{/bootstrap/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/app.js}"></script>
</body>
</html>