<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Usuário</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <form th:action="@{/user/store}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" th:field="*{name}" class="form-control" id="nome">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Erro Nome</span>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" >
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro Email</span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Erro Senha</span>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="#" th:href="@{/}" class="btn btn-large btn-success">Cancelar</a>
    </form>


</div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>