<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista Usuarios</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:if="${message}" th:text="${message}" class="alert alert-success"/>
<table>
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
    </tr>
    <tr th:each="user : ${allUser}">
        <td th:text="${user.idUser}"> </td>
        <td th:text="${user.name}"> </td>
        <td th:text="${user.email}"> </td>
    </tr>

    <a href="#" th:href="@{/user/create}">New Jedi</a>
</table>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>